html {
  height: auto;  
  background-image: linear-gradient(
    180.6deg,
    #35317c 0.0%,
    black 32.9%,
    black 52.7%,
    black 72.8%,
    black 81.1%,
    black 102.4%
  );
  background-attachment: fixed;
  background-size: cover;
  background-color: #35317c;
}

body {
  height: auto;
}